global:
  scrape_interval: 1m
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
    - static_configs:
        - targets: [ ]
      scheme: http
      timeout: 10s
      api_version: v1
scrape_configs:
  - job_name: anern_monitoring
    honor_timestamps: true
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - 'anern_monitoring:8081'
  - job_name: prometheus
    static_configs:
      - targets:
          - 'localhost:9090'